# Welcome to Marketing Report
author: Jack Lau <br>
last edit: 13/10/19 <br>
purpose: this report is use to show the advertising spending and pricing info in intopia

In [1]:
import pandas as pd
import os
from intopia_analysis import *

In [2]:
df_contact = pd.read_csv('Intopia - Contact List - Sheet1.csv')
df_price = get_live_price_data('phase2/period3/') #<---- ademend path between library 
df_ad = get_advertising_data('phase2/period7/') #<---- ademend path between library

# Team Tracking

In [3]:
team_tracker(df_contact, 17) #<-- admend the team you want information regarding

,Team Number,Team Member,Main Contact,Email,Facebook
73,17,"Berezovskaia, Katya",True,NaN,https://www.facebook.com/katyaberez
74,17,"Lau, Jack",True,tlau012@uottawa.ca,https://www.facebook.com/yuen.lau.927
75,17,"Duncan, Mackenzie",True,mdunc101@uottawa.ca,https://www.facebook.com/mac.duncan.712
76,17,"Evan, Naylor",True,enayl037@uottawa.ca,https://www.facebook.com/evan.naylor.79
77,17,"Kaminski, Patrick",NaN,NaN,https://www.facebook.com/patrick.kaminski.29

# Marketing Expense Tracking

## Central Canada Marketing Expese

In [4]:
df_ad[df_ad['region'] == 'cc'].sort_values(by=['type', 'Total'], ascending=False)

,Company,Print,TV,Social,Event,Sponsor,Retail,Web,Other,Total,type,region
1,13,600.0,600.0,600.0,600.0,600.0,600.0,600.0,600.0,4800.0,y,cc
3,17,300.0,250.0,100.0,250.0,500.0,100.0,250.0,0.0,1750.0,y,cc
0,9,210.0,210.0,495.0,83.0,83.0,166.0,413.0,0.0,1660.0,y,cc
4,25,0.0,250.0,250.0,0.0,250.0,0.0,0.0,0.0,750.0,y,cc
8,61,25.0,100.0,100.0,50.0,100.0,50.0,50.0,25.0,500.0,y,cc
6,40,0.0,100.0,50.0,50.0,50.0,50.0,0.0,0.0,300.0,y,cc
5,28,20.0,20.0,20.0,5.0,5.0,20.0,20.0,5.0,115.0,y,cc
7,45,0.0,0.0,30.0,0.0,0.0,30.0,0.0,0.0,60.0,y,cc
2,16,0.0,11.0,11.0,0.0,0.0,0.0,11.0,0.0,33.0,y,cc
1,9,135.0,135.0,328.0,55.0,55.0,110.0,274.0,0.0,1092.0,x,cc
2,17,100.0,100.0,0.0,100.0,100.0,100.0,500.0,0.0,1000.0,x,cc
5,34,10.0,50.0,200.0,75.0,75.0,100.0,25.0,10.0,545.0,x,cc
8,48,50.0,100.0,100.0,50.0,50.0,50.0,50.0,50.0,500.0,x,cc
10,61,25.0,100.0,100.0,50.0,100.0,50.0,50.0,25.0,500.0,x,cc
3,20,0.0,0.0,200.0,0.0,75.0,75.0,100.0,0.0,450.0,x,cc
7,40,0.0,200.0,100.0,50.0,50.0,0.0,0.0,0.0,400.0,x,cc
6,38,25.0,25.0,25.0,25.0,25.0,25.0,25.0,25.0,200.0,x,cc
4,28,10.0,10.0,10.0,0.0,0.0,10.0,10.0,0.0,50.0,x,cc
0,2,3.0,0.0,5.0,0.0,5.0,0.0,0.0,2.0,15.0,x,cc
9,52,0.0,5.0,10.0,0.0,0.0,0.0,0.0,0.0,15.0,x,cc

## Western Canada Marketing Expese

In [ ]:
df_ad[df_ad['region'] == 'wc'].sort_values(by=['type','Total'], ascending=False)

## Eastern Canada Marketing Expese

In [ ]:
df_ad[df_ad['region'] == 'ec'].sort_values(by=['type','Total'], ascending=False)

# Pricing Information

## Central Canada Live Price

In [ ]:
df_price[df_price['region'] == 'cc'].sort_values(by='Standard Price Cannabis', ascending=False)

## Western  Canada Live Price

In [ ]:
df_price[df_price['region'] == 'wc'].sort_values(by='Standard Price Cannabis', ascending=False)

## Eastern Canada Live Price

In [ ]:
df_price[df_price['region'] == 'ec'].sort_values(by='Standard Price Cannabis', ascending=False)